[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
ipymd = "*"
pandas = "*"
numpy = "*"
sympy = "*"
scipy = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.9"
